
<ion-header>
  <ion-toolbar>
 
  <ion-title>
   Login
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

  <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

</ion-list>

<div padding>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
	<div class="row">
        <!-- Standard button -->
        <button ion-button color="primary" block routerLink="/home" type="button" class="btn btn-outline-dark"><span class="glyphicon glyphicon-download-alt" ></span >LOGIN</button>
	</div>
</div>
</div>
</ion-content>